*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Poppins,sans-serif;
}

body{
    background:#f4f8fc;
    color:#333;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 10%;
    background:white;
    position:sticky;
    top:0;
}

nav ul{
    display:flex;
    gap:20px;
    list-style:none;
}

nav a{
    text-decoration:none;
    color:#333;
}

.hero{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;

    background:
    linear-gradient(
        rgba(15,23,42,0.75),
        rgba(15,23,42,0.75)
    ),
    url('background.jpeg');

    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}
.hero h1{
    color:white;
    font-size:4rem;
}

.hero h2{
    color:white;
}

.hero p{
    color:white;
    margin:20px;
}

.badge{
    background:#10b981;
    color:white;
    padding:8px 15px;
    border-radius:20px;
}

.buttons{
    margin-top:20px;
}

.btn{
    display:inline-block;
    padding:12px 20px;
    background:white;
    color:#2563eb;
    text-decoration:none;
    border-radius:10px;
    margin:5px;
}

section{
    padding:80px 10%;
}

.skills-grid{
    display:grid;
    grid-template-columns:
    repeat(auto-fit,minmax(200px,1fr));
    gap:20px;
}

.card{
    background:white;
    padding:20px;
    border-radius:12px;
    box-shadow:
    0 0 15px rgba(0,0,0,.1);
}

.project-card{
    background:white;
    padding:20px;
    border-radius:12px;
    margin-bottom:30px;
}

.project-card img{
    width:100%;
    border-radius:12px;
}

form{
    display:flex;
    flex-direction:column;
    gap:15px;
}

input,
textarea{
    padding:15px;
}
.dark{
    background:#111827;
    color:white;
}

.dark nav{
    background:#1f2937;
}

.dark .card{
    background:#374151;
    color:white;
}

.dark .project-card{
    background:#374151;
}
